h1 {
    text-align: center;
    padding-top: 1%;
}
.main_box {
    /* width: 90%;
    max-width: 900px; */
    width: fit-content;
    max-width: 95%;
    margin: 2% auto;
    background-color: rgba(255, 255, 255, 0.8);
}
.box {
    margin: auto 6%;
    padding-bottom: 2%;
}
.mp {
    width: 5%;
    min-width: 50px;
    min-height: 50px;
    height: 5%;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}
video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}
footer {
    padding: 0.5%;
    background-color: rgba(94, 0, 0, 0.8);
    border-color: aliceblue;
    color: aliceblue;
    border-radius: 0 0 10px 10px;
}
img, audio {
    max-width: 100%;
    max-height: 100%;
}
body {
    font-family: Trebuchet MS;
    font-size: large;
}
h1, h2 {
    font-family: Trebuchet MS;
}
.survey {
border-color: salmon;
}
a {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: blue;
}
a:active {
    color: blueviolet;
}
.survey {
    display: inline;
}
.lbl {
    display: block;
    margin: 2%;
}
#inp {
    margin-top: 2%;
}
hr {
    height: 1px;
    background-color: brown;
    border-color: brown;
}
#last-label {
    margin-top:  5px;
    display: block;
    font-family: cursive;
    background-color: brown;
    color: aliceblue;
}
input[type="submit"] {
    display: block;
    background-color: brown;
    color: aliceblue;
    height: 2em;
    font-size: 1.1rem;
    width: 40%;
    margin: 0 auto;
}
::placeholder {
    color: aliceblue;
    opacity: 0.8;
}
.input-color {
    background-color: brown;
    color: aliceblue;
}
legend {
    font-size: 1.2vw;
}
textarea, select, input{
    border-radius: 5px;
}
fieldset, input[type="submit"] {
    border-radius: 15px 30px;
}
.main_box {
    border-radius: 10px;
}
textarea {
    width: 100%;
}
.center {
    text-align: center;
    font-size: x-large;
}