h1 {
    text-align: center;
    padding-top: 1%;
}
.main_box {
    width: 90%;
    max-width: 900px;
    margin: 2% auto;
    background-color: aliceblue;
}
.box {
    margin: auto 6%;
    padding-bottom: 2%;
}
.mp {
    width: 5%;
    min-width: 50px;
    min-height: 50px;
    height: 5%;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}
video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}
footer {
    padding: 0.5%;
    background-color: rgba(94, 0, 0, 0.763);
    border-color: aliceblue;
    color: aliceblue;
}
img, audio {
    max-width: 100%;
    max-height: 100%;
}
body {
    font-family: Trebuchet MS;
}
h1, h2 {
    font-family: Trebuchet MS;
}
.survey {
border-color: salmon;
}
a {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: blue;
}
a:active {
    color: blueviolet;
}
.survey {
    display: inline;
}
.lbl {
    display: block;
    margin: 1%;
}